<style type="text/css">
	#dashboardContainer{
		padding: 20px;
	}
</style>


<div ng-controller="SignInController" id='dashboardContainer'>
	<a href="#/"><input type="submit" value="Log Out"></a> 
	<h1>Welcome {{ this_user[0] }}</h1>
	<input type='hidden' ng-value='newbucket.user_name=this_user[0]'>

	<!-- Adding to bucketlist -->
	<form name="myForm">

		<input type='text' name="title" ng-model='newbucket.title' placeholder='Title' ng-minlength="5">
		<input type='text' name="description" ng-model='newbucket.description' placeholder='Description' ng-minlength="10">

		<select ng-model="newbucket.tag_user">
			<option value="Clint">Clint</option>
			<option value="Mui">Mui</option>
			<option value="Alanna">Alanna</option>
		</select>

		<div role='alert'>
			<span class='error' ng-show='myForm.title.$error.minlength'>Need more then 5 Characters!</span>
			<span class='error' ng-show='myForm.description.$error.minlength'>Need more then 10 Characters!</span>
		</div>


	</form>


	<!-- Submit -->
	<a href="#/dashboard"><input type="submit" value="Add to List" ng-click="addBucket()"></a>



	<!-- Display the bucket list -->
	<h3>Before I die I want to:</h3>
	<div ng-repeat='x in allBuckets'>
		<div ng-repeat='y in x'>
			<input type='checkbox'> {{ y.user_name }} | {{ y.buckets[0].title }} - {{ y.buckets[0].description }} | {{ y.buckets[0].time }}
	
		</div>
	</div>
	
	<h3>List of other users (Click to view profile)</h3>

	<div ng-repeat="i in allUsers">
		<a ng-model='getAUser' ng-click='getAUser(i._id)'>{{ i.user_name }}</a>
	</div>


</div>




